.has-badge[data-count]:after {
    content: attr(data-count);
    color: #fff;
    background: rgba(255, 0, 0, 1);
    position: relative;
    right: 17%;
    top: -20%;
    border-radius: 50%;
    font-size: 80%;
    padding: 0;
    text-align: center;
    display: inline-block;
    min-width: 19px;
    font-weight: bold;
}