.beer-card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: 0.3s;
    border-radius: 5px;
}

.beer-card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.beer-card-image {
    border-radius: 5px 5px 0 0;
}

.beer-card-content {
    padding: 8px 16px;
}